<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="https://www.co3.eu/wp-content/themes/c03/img/fav.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO3: Introduction email time&hour with link</title>
</head>
<body style="padding:0; margin:12px auto; text-align: center;">
    <table cellspacing="0" cellpadding="0" width="600" style="margin:0 auto; width:600px; font-family: Arial, Helvetica, sans-serif; font-size:14px">
        <tbody>
            <tr>
                <td width="600">
                    <table cellspacing="0" cellpadding="0" width="600" style="margin:0; width:600px">
                        <tbody>
                            <tr>
                                <td>
                                    <img style="display:block; width:120px" src="https://co3.eu/files/img/logo_co3.png" alt="CO3 Logo">
                                </td>
                                <td  valign="middle" style="text-align: right">
                                    <a href="mailto:carrier@co3.eu" style="display: block; text-decoration: none; color: #086DA0; font-weight: 500;">carrier@co3.eu</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>   
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <img style="width:600px; display:block;" src="https://co3.eu/files/img/linia.png" alt="Line">
                </td>
            </tr>
            <tr>
                <td width="600" height="24"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;">
                    <p>Hola,</p>
                    <p>Nos ponemos en contacto con usted en nombre de <strong>{{{Case.Customer_Name__c}}}</strong> para ayudarlo a brindarle monitoreo de transporte a través de la plataforma de CO3. Esto le ahorrará tiempo a usted y a su conductor a la hora de transmitir los informes de ubicación y aumentará las nuevas oportunidades comerciales al negociar nuevos encargos.</p>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <table cellpadding="8" cellspacing="0" width="600" style="color: #086DA0; font-size:14px; line-height: 24px; margin:0; width:600px; text-align: left;">
                        <tbody>
                            <tr>
                                <td width="200" valign="middle">
                                    <img style="display:block; width:180px" src="https://co3.eu/files/img/co3_ilustracja_introduction.png" alt="">
                                </td>
                                <td width="400" valign="middle">
                                    <p><strong>¿Cómo funciona el intercambio de datos con CO3?
                                    </strong></p>
                                    <ul>
                                        <li>CO3 se integra directamente con su proveedor de GPS. 
                                        </li>
                                        <li>Al registrarse en la plataforma, puede controlar fácilmente el intercambio de datos con sus clientes.
                                        </li>
                                        <li>Le proporcionaremos soporte dedicado tanto durante la integración con la plataforma como cuando la use.
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;">
                    <p><strong>¿Cuáles son los siguientes pasos?
                    </strong></p>
                    <p>Si desea cooperar, <strong>cree una cuenta en la plataforma CO3 utilizando el enlace</strong>: <a href="#" style="text-decoration: none; font-weight: bold; color: #086DA0;">[LINK]</a></p>
                    <p>Con su consentimiento, lanzaremos un servicio de monitoreo para  <strong>{{{Case.Customer_Name__c}}}</strong>. Estos datos estarán disponibles según lo establecido en relación con el encargo de transporte.  </p>
                        <p>A través de la cuenta de CO3, tiene la posibilidad de realizar cambios en el intercambio de datos en cualquier momento.
                        </p>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <table cellpadding="8" cellspacing="0" width="600" style="color: #086DA0; font-size:14px; line-height: 24px; margin:0; width:600px; text-align: left;">
                        <tbody>
                            <tr>
                                <td width="200" valign="middle" style="text-align: center">
                                    <img style="display:block; width:120px; margin:0 auto;" src="https://co3.eu/files/img/co3_ikona_introduction.png" alt="">
                                </td>
                                <td width="400" valign="middle">
                                    <p><strong>¿Este servicio me cuesta algo?
                                    </strong></p>
                                    <p>Los transportistas obtienen acceso gratuito a la plataforma y a nuestros servicios para monitorear su propia flota y compartir sus datos.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;">
                   <p>In case of further questions:
                    </p>
                    <ul>
                        <li>please check our <a href="https://drive.google.com/file/d/1GcZYkCZJEanVLTAUlVoB27IbM70c6OUZ/view?usp=sharing" style="text-decoration: none; font-weight: bold; color: #086DA0;">FAQ</a></li>
                        <li>feel free to contact us by e-mail: <a href="mailto:carrier@co3.eu" style="text-decoration: none; font-weight: bold; color: #086DA0;">carrier@co3.eu</a></li>
                    </ul>
                    <p style="text-align:right; font-weight:bold;">Best regards,<br>CO3 Team</p>
                </td>
            </tr>
            <tr>
                <td width="600" height="64"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:12px; line-height: 18px;">
                    <p style="text-align:right; font-weight:bold;"><strong style="font-size:14px">CO3 Sp. z o.o.</strong><br>
                        ul. Irysowa 1, Bielany Wrocławskie<br>
                        55-040 Kobierzyce
                        </p>
                </td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #678BAF; font-size:10px; line-height: 15px;">
                   <p>El administrador de sus datos personales es CO3 sociedad de responsabilidad limitada con domicilio social en Bielany Wrocławskie (55-040), ul. Irysowa 1, NIP: 8961583248. Ustedes tendrán el derecho a acceder a sus datos, el derecho a rectificar, suprimir, limitar el tratamiento, el derecho a ceder los datos, objetar y presentar una reclamación ante la autoridad de control. El contacto con el Responsable del tratamiento de datos es posible en la siguiente dirección de correo electrónico: <a href="mailto:dpo@co3.eu" style="text-decoration: none; font-weight: bold; color: #086DA0;">dpo@co3.eu</a>. Podrá encontrar informaciónmás detallada sobre el procesamiento de datos personales en la Política de privacidad: <a href="https://www.co3.eu/ppes" style="text-decoration: none; font-weight: bold; color: #086DA0;">www.co3.eu/ppes</a>.
</p>
<p>La información contenida en esta correspondencia constituye un secreto de empresa en el sentido del apartado 4 del artículo 11 de la Ley de 16 de abril de 1993 sobre la lucha contra la competencia desleal (Diario de Leyes de 2003, nº 153, punto 1503, modificado). La correspondencia se dirigirá exclusivamente a la persona y a la empresa que figure como destinataria. La difusión, la copia, la divulgación o el reenvío a terceros, en cualquier forma, de la información contenida en este documento, en su totalidad o en parte, constituye un acto de competencia desleal.
</p>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <img style="width:600px; display:block;" src="https://co3.eu/files/img/linia.png" alt="Line">
                </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>