<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="https://www.co3.eu/wp-content/themes/c03/img/fav.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO3: Introduction email time&hour</title>
</head>
<body style="padding:0; margin:12px auto; text-align: center;">
    <table cellspacing="0" cellpadding="0" width="600" style="margin:0 auto; width:600px; font-family: Arial, Helvetica, sans-serif; font-size:14px">
        <tbody>
            <tr>
                <td width="600">
                    <table cellspacing="0" cellpadding="0" width="600" style="margin:0; width:600px">
                        <tbody>
                            <tr>
                                <td>
                                    <img style="display:block; width:120px" src="https://co3.eu/files/img/logo_co3.png" alt="CO3 Logo">
                                </td>
                                <td  valign="middle" style="text-align: right">
                                    <a href="mailto:carrier@co3.eu" style="display: block; text-decoration: none; color: #086DA0; font-weight: 500;">carrier@co3.eu</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>   
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <img style="width:600px; display:block;" src="https://co3.eu/files/img/linia.png" alt="Line">
                </td>
            </tr>
            <tr>
                <td width="600" height="24"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;">
                    <p>Hola,</p>
                    <p>Nos ponemos en contacto con usted para confirmar los consentimientos necesarios para brindar monitoreo a <strong>{{{Case.Customer_Name__c}}}</strong>. Esto le ahorrará a usted y a su conductor tiempo para comunicar la ubicación
                    </p>
                    <p><strong>¿Cuáles son los siguientes pasos?</strong></p>
                    <p>Si tienen el deseo de cooperar, por favor envíenos el siguiente consentimiento:
                    </p>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <table border="1" cellpadding="8" cellspacing="0" style="border-color:#ABCCEA; color: #086DA0; font-size:12px; line-height: 21px;margin:0; width:600px;" width="600">
                        <tbody>
                            <tr>
                                <td width="400" height="32" valign="middle" style="font-weight: bold; color: #086DA0;">
                                    Tipo de consentimiento:
                                </td>
                                <td width="200"  height="32" valign="middle" style="font-weight: bold; color: #086DA0;">
                                    Por favor dé su consentimiento 
                                </td>
                            </tr>
                            <tr>
                                <td  width="400" valign="middle">
                                    "Acepto compartir los datos sobre el vehículo y su ubicación con {{{Case.Customer_Name__c}}} durante la duración del pedido, a través de la Plataforma CO3 de acuerdo con el servicio de Monitoreo de tiempo y recorrido."
                                </td>
                                <td  width="200" valign="middle" style="font-weight: bold; color: #086DA0;">
                                    (SÍ / NO)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;">
                    <p>Con su consentimiento, lanzaremos un servicio de monitoreo para <strong>{{{Case.Customer_Name__c}}}</strong>. Estos datos estarán disponibles según lo establecido en relación con el encargo de transporte.  
                    </p>
                    <p>A través de la cuenta de CO3, tiene la posibilidad de realizar cambios en el intercambio de datos en cualquier momento.
                    </p>
<p>En el caso de que tenga cualquier pregunta, le invitamos a:</p>
<ul>
    <li>leer las preguntas más frecuentes: <a href="https://drive.google.com/file/d/1GcZYkCZJEanVLTAUlVoB27IbM70c6OUZ/view?usp=sharing" style="text-decoration: none; font-weight: bold; color: #086DA0;">FAQ</a></li>
    <li>ponerse en contacto mediante el correo electrónico:  <a href="mailto:carrier@co3.eu" style="text-decoration: none; font-weight: bold; color: #086DA0;">carrier@co3.eu</a></li>
</ul>
                    <p style="text-align:right; font-weight:bold;">Atentamente,<br>equipo de CO3</p>
                </td>
            </tr>
            <tr>
                <td width="600" height="64"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:12px; line-height: 18px;">
                    <p style="text-align:right; font-weight:bold;"><strong style="font-size:14px">CO3 Sp. z o.o.</strong><br>
                        ul. Irysowa 1, Bielany Wrocławskie<br>
                        55-040 Kobierzyce
                        </p>
                </td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #678BAF; font-size:10px; line-height: 15px;">
                   <p>El administrador de sus datos personales es CO3 sociedad de responsabilidad limitada con domicilio social en Bielany Wrocławskie (55-040), ul. Irysowa 1, NIP: 8961583248. Ustedes tendrán el derecho a acceder a sus datos, el derecho a rectificar, suprimir, limitar el tratamiento, el derecho a ceder los datos, objetar y presentar una reclamación ante la autoridad de control. El contacto con el Responsable del tratamiento de datos es posible en la siguiente dirección de correo electrónico: <a href="mailto:dpo@co3.eu" style="text-decoration: none; font-weight: bold; color: #086DA0;">dpo@co3.eu</a>. Podrá encontrar informaciónmás detallada sobre el procesamiento de datos personales en la Política de privacidad: <a href="https://www.co3.eu/ppes" style="text-decoration: none; font-weight: bold; color: #086DA0;">www.co3.eu/ppes</a>.
</p>
<p>La información contenida en esta correspondencia constituye un secreto de empresa en el sentido del apartado 4 del artículo 11 de la Ley de 16 de abril de 1993 sobre la lucha contra la competencia desleal (Diario de Leyes de 2003, nº 153, punto 1503, modificado). La correspondencia se dirigirá exclusivamente a la persona y a la empresa que figure como destinataria. La difusión, la copia, la divulgación o el reenvío a terceros, en cualquier forma, de la información contenida en este documento, en su totalidad o en parte, constituye un acto de competencia desleal.
</p>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <img style="width:600px; display:block;" src="https://co3.eu/files/img/linia.png" alt="Line">
                </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>