<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="https://www.co3.eu/wp-content/themes/c03/img/fav.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO3: Missing License Plates</title>
</head>
<body style="padding:0; margin:12px auto; text-align: center;">
    <table cellspacing="0" cellpadding="0" width="600" style="margin:0 auto; width:600px; font-family: Arial, Helvetica, sans-serif; font-size:14px">
        <tbody>
            <tr>
                <td width="600">
                    <table cellspacing="0" cellpadding="0" width="600" style="margin:0; width:600px">
                        <tbody>
                            <tr>
                                <td>
                                    <img style="display:block; width:120px" src="https://co3.eu/files/img/logo_co3.png" alt="CO3 Logo">
                                </td>
                                <td  valign="middle" style="text-align: right">
                                    <a href="mailto:carrier@co3.eu" style="display: block; text-decoration: none; color: #086DA0; font-weight: 500;">carrier@co3.eu</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>   
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <img style="width:600px; display:block;" src="https://co3.eu/files/img/linia.png" alt="Line">
                </td>
            </tr>
            <tr>
                <td width="600" height="24"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;">
                    <p>Hola,</p>
                    <p><strong>{{{Case.Customer_Name__c}}}</strong> nos informó que no puede realizar el seguimiento de los pedidos de transporte debido a la indisponibilidad de sus vehículos en la plataforma CO3.
                    </p>
                </td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;">
                    <p><strong>Vehículos desaparecidos:</strong></p>
                    <p>[LICENCE PLATES*]</p>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <table cellpadding="8" cellspacing="0" width="600" style="color: #086DA0; font-size:14px; line-height: 24px; margin:0; width:600px; text-align: left;">
                        <tbody>
                            <tr>
                                <td width="200" valign="middle" style="text-align:center">
                                    <img style="display:block; width:120px; margin:0 auto" src="https://co3.eu/files/img/co3_ikona_missing_licence_plates_1.png" alt="">
                                </td>
                                <td width="400" valign="middle">
                                    <p><strong>¿Cómo resolver este problema?</strong></p>
                                    <ul>
                                        <li>Inicie sesión en el sitio web de su proveedor de GPS.
                                        </li>
                                            <li>Encuentre los vehículos que faltan.</li>
                                                <li>Comparte estos vehículos con una cuenta integrada con la plataforma CO3.
                                                </li>
                                    </ul>
                                    <p><strong>¿No puede seguir los pasos anteriores?</strong></p>
                                    <p>Póngase en contacto con su administrador de cuentas por parte del GPS o con su persona de contacto.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <table cellpadding="8" cellspacing="0" width="600" style="color: #086DA0; font-size:14px; line-height: 24px; margin:0; width:600px; text-align: left;">
                        <tbody>
                            <tr>
                                <td width="200" valign="middle" style="text-align:center">
                                    <img style="display:block; width:120px; margin:0 auto" src="https://co3.eu/files/img/co3_ikona_missing_licence_plates_2.png" alt="">
                                </td>
                                <td width="400" valign="middle">
                                    <p><strong>Información adicional</strong></p>
                                    <p>CO3 proporciona información de seguimiento para <strong>{{{Case.Customer_Name__c}}}</strong>.
                                    </p>
                                    <p>Si responde a <a href="#" style="text-decoration: none; font-weight: bold; color: #086DA0;">carrier@co3.eu</a>, lo ayudaremos a resolver este problema.
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;">
<p>En el caso de que tenga cualquier pregunta, le invitamos a:</p>
<ul>
    <li>leer las preguntas más frecuentes: <a href="https://drive.google.com/file/d/1GcZYkCZJEanVLTAUlVoB27IbM70c6OUZ/view?usp=sharing" style="text-decoration: none; font-weight: bold; color: #086DA0;">FAQ</a></li>
    <li>ponerse en contacto mediante el correo electrónico:  <a href="mailto:carrier@co3.eu" style="text-decoration: none; font-weight: bold; color: #086DA0;">carrier@co3.eu</a></li>
</ul>
                    <p style="text-align:right; font-weight:bold;">Atentamente,<br>equipo de CO3</p>
                </td>
            </tr>
            <tr>
                <td width="600" height="64"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:12px; line-height: 18px;">
                    <p style="text-align:right; font-weight:bold;"><strong style="font-size:14px">CO3 Sp. z o.o.</strong><br>
                        ul. Irysowa 1, Bielany Wrocławskie<br>
                        55-040 Kobierzyce
                        </p>
                </td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #678BAF; font-size:10px; line-height: 15px;">
                   <p>El administrador de sus datos personales es CO3 sociedad de responsabilidad limitada con domicilio social en Bielany Wrocławskie (55-040), ul. Irysowa 1, NIP: 8961583248. Ustedes tendrán el derecho a acceder a sus datos, el derecho a rectificar, suprimir, limitar el tratamiento, el derecho a ceder los datos, objetar y presentar una reclamación ante la autoridad de control. El contacto con el Responsable del tratamiento de datos es posible en la siguiente dirección de correo electrónico: <a href="mailto:dpo@co3.eu" style="text-decoration: none; font-weight: bold; color: #086DA0;">dpo@co3.eu</a>. Podrá encontrar informaciónmás detallada sobre el procesamiento de datos personales en la Política de privacidad: <a href="https://www.co3.eu/ppes" style="text-decoration: none; font-weight: bold; color: #086DA0;">www.co3.eu/ppes</a>.
</p>
<p>La información contenida en esta correspondencia constituye un secreto de empresa en el sentido del apartado 4 del artículo 11 de la Ley de 16 de abril de 1993 sobre la lucha contra la competencia desleal (Diario de Leyes de 2003, nº 153, punto 1503, modificado). La correspondencia se dirigirá exclusivamente a la persona y a la empresa que figure como destinataria. La difusión, la copia, la divulgación o el reenvío a terceros, en cualquier forma, de la información contenida en este documento, en su totalidad o en parte, constituye un acto de competencia desleal.
</p>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <img style="width:600px; display:block;" src="https://co3.eu/files/img/linia.png" alt="Line">
                </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>