<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="https://www.co3.eu/wp-content/themes/c03/img/fav.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO3: We are integrated</title>
</head>
<body style="padding:0; margin:12px auto; text-align: center;">
    <table cellspacing="0" cellpadding="0" width="600" style="margin:0 auto; width:600px; font-family: Arial, Helvetica, sans-serif; font-size:14px">
        <tbody>
            <tr>
                <td width="600">
                    <table cellspacing="0" cellpadding="0" width="600" style="margin:0; width:600px">
                        <tbody>
                            <tr>
                                <td>
                                    <img style="display:block; width:120px" src="https://co3.eu/files/img/logo_co3.png" alt="CO3 Logo">
                                </td>
                                <td  valign="middle" style="text-align: right">
                                    <a href="mailto:carrier@co3.eu" style="display: block; text-decoration: none; color: #086DA0; font-weight: 500;">carrier@co3.eu</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <img style="width:600px; display:block;" src="https://co3.eu/files/img/linia.png" alt="Line">
                </td>
            </tr>
            <tr>
                <td width="600" height="24"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;">
                    <p>Hallo,</p>
                    <p>Vielen Dank, dass Sie sich auf der CO3-Plattform registriert haben. Wir freuen uns sehr auf die Zusammenarbeit mit Ihnen. 
                    </p>
                    <p>Der nächste Schritt, um die Transportüberwachung für  <strong>{{Case.Customer_Name__c}}</strong> verfügbar zu machen, besteht darin, Ihre Flotte zu verbinden, damit sie in Ihrem Konto auf der CO3-Plattform sichtbar ist.
                    </p>
                    <p>Nachfolgend finden Sie eine Anleitung für [Telematikanbieter x] zur Aktivierung der Verbindung:
                    </p>
                    <p>[instrukcja]</p>
                   <p>Bei Fragen:</p>
<ul>
    <li>Lesen Sie die am häufigsten gestellten Fragen: <a href="https://drive.google.com/file/d/1n9XSyRVDcrrMO0M1CwVPHEVW5Hc4yhNg/view?usp=sharing" style="text-decoration: none; font-weight: bold; color: #086DA0;">FAQ</a></li>
    <li>Kontakt unter: <a href="mailto:carrier@co3.eu" style="text-decoration: none; font-weight: bold; color: #086DA0;">carrier@co3.eu</a></li>
</ul>
                    <p style="text-align:right; font-weight:bold;">Herzliche Grüße,<br>CO3-Team</p>
                </td>
            </tr>
            <tr>
                <td width="600" height="64"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:12px; line-height: 18px;">
                    <p style="text-align:right; font-weight:bold;"><strong style="font-size:14px">CO3 Sp. z o.o.</strong><br>
                        ul. Irysowa 1, Bielany Wrocławskie<br>
                        55-040 Kobierzyce
                        </p>
                </td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #678BAF; font-size:10px; line-height: 15px;">
                    <p>Der Verwalter Ihrer personenbezogenen Daten ist CO3 spółka z ograniczoną odpowiedzialnością mit Sitz in Bielany Wrocławskie (55-040), ul. Irysowa 1, NIP [Steuernummer]: 8961583248. Sie haben das Recht auf Zugang zum Inhalt Ihrer Daten, das Recht auf Berichtigung, Löschung, Einschränkung der Verarbeitung, das Recht auf Datenübermittlung, das Widerspruchsrecht und das Recht, Ihre Zustimmung zur Verarbeitung zu widerrufen. Die Kontaktaufnahme mit dem Verwalter ist über die folgende E-Mail-Adresse möglich: <a href="mailto:dpo@co3.eu" style="text-decoration: none; font-weight: bold; color: #086DA0;">dpo@co3.eu</a>. Ausführliche Informationen über die Verarbeitung personenbezogener Daten finden Sie in der Datenschutzerklärung:  <a href="https://www.co3.eu/ppde" style="text-decoration: none; font-weight: bold; color: #086DA0;">www.co3.eu/ppde</a>.
</p>
<p>Die in dieser Korrespondenz enthaltenen Informationen stellen ein Betriebsgeheimnis im Sinne von Artikel 11 Absatz 4 des Gesetzes vom 16. April 1993 zur Bekämpfung des unlauteren Wettbewerbs (Gesetzblatt von 2003, Nr. 153, Pos. 1503, mit Änderungen) dar. Die Korrespondenz ist ausschließlich an die als Adressaten genannten Personen und Unternehmen zu richten. Die Verbreitung, Vervielfältigung, Offenlegung oder Weitergabe der hierin enthaltenen Informationen an Dritte in jeglicher Form, ganz oder teilweise, stellt eine Handlung des unlauteren Wettbewerbs dar.
</p>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <img style="width:600px; display:block;" src="https://co3.eu/files/img/linia.png" alt="Line">
                </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>