<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="https://www.co3.eu/wp-content/themes/c03/img/fav.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO3: If we are not integrated</title>
</head>
<body style="padding:0; margin:12px auto; text-align: center;">
    <table cellspacing="0" cellpadding="0" width="600" style="margin:0 auto; width:600px; font-family: Arial, Helvetica, sans-serif; font-size:14px">
        <tbody>
            <tr>
                <td width="600">
                    <table cellspacing="0" cellpadding="0" width="600" style="margin:0; width:600px">
                        <tbody>
                            <tr>
                                <td>
                                    <img style="display:block; width:120px" src="https://co3.eu/files/img/logo_co3.png" alt="CO3 Logo">
                                </td>
                                <td valign="middle" style="text-align: right">
                                    <a href="mailto:carrier@co3.eu" style="display: block; text-decoration: none; color: #086DA0; font-weight: 500;">carrier@co3.eu</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <img style="width:600px; display:block;" src="https://co3.eu/files/img/linia.png" alt="Line">
                </td>
            </tr>
            <tr>
                <td width="600" height="24"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;">
                    <p>Hello,</p>
                    <p>We are contacting you on behalf of <strong>{{Case.Customer_Name__c}}</strong> to assist you in making transport monitoring available to him/her, via the CO3 platform. 
                    </p>
                    <p><strong>Thank you for registering on the CO3 platform.</strong><br>We are very pleased to start working with you.
                    </p>
                    <p><strong>Please pass on the details of your contact person [supplier XY].</strong> At the moment, we are not yet connected to their service, and we would like to enable monitoring as soon as possible.

                    </p>
                   <p>In case of further questions:
                    </p>
                    <ul>
                        <li>please check our <a href="https://drive.google.com/file/d/1GcZYkCZJEanVLTAUlVoB27IbM70c6OUZ/view?usp=sharing" style="text-decoration: none; font-weight: bold; color: #086DA0;">FAQ</a></li>
                        <li>feel free to contact us by e-mail: <a href="mailto:carrier@co3.eu" style="text-decoration: none; font-weight: bold; color: #086DA0;">carrier@co3.eu</a></li>
                    </ul>
                    <p style="text-align:right; font-weight:bold;">Best regards,<br>CO3 Team</p>
                </td>
            </tr>
            <tr>
                <td width="600" height="64"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:12px; line-height: 18px;">
                    <p style="text-align:right; font-weight:bold;"><strong style="font-size:14px">CO3 Sp. z o.o.</strong><br>
                        ul. Irysowa 1, Bielany Wrocławskie<br>
                        55-040 Kobierzyce
                        </p>
                </td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #678BAF; font-size:10px; line-height: 15px;">
                    <p>The administrator of your personal data is CO3 Sp. z o.o. registered in Bielany Wrocławskie (55-040), ul. Irysowa 1, VAT: PL8961583248. You have the right to access your data and the right to rectify, delete, limit processing, the right to transfer data, object and lodge a complaint with the supervisory authority. Contact with the Administrator is possible at the following e-mail address: <a href="mailto:dpo@co3.eu" style="text-decoration: none; font-weight: bold; color: #086DA0;">dpo@co3.eu</a>. Detailed information on the processing of personal data can be found in the Privacy Policy: <a href="https://www.co3.eu/ppen" style="text-decoration: none; font-weight: bold; color: #086DA0;">www.co3.eu/ppen</a>.
</p>
<p>The information contained in this correspondence constitutes a company secret within the meaning of Article 11(4) of the Act of 16 April 1993 on Combating Unfair Competition (Journal of Laws of 2003, No. 153, item 1503, as amended). Correspondence shall be addressed exclusively to the person and company named as addressee. Dissemination, copying, disclosing or forwarding to third parties in any form the information contained herein in whole or in part is an act of unfair competition.
</p>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <img style="width:600px; display:block;" src="https://co3.eu/files/img/linia.png" alt="Line">
                </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>