<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="https://www.co3.eu/wp-content/themes/c03/img/fav.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO3: Introduction email permanent with link</title>
</head>
<body style="padding:0; margin:12px auto; text-align: center;">
    <table cellpadding="0" cellspacing="0" style="margin:0 auto; width:600px; font-family: Arial, Helvetica, sans-serif; font-size:14px" width="600">
        <tbody>
            <tr>
                <td width="600">
                <table cellpadding="0" cellspacing="0" style="margin:0; width:600px" width="600">
                    <tbody>
                        <tr>
                            <td><img alt="CO3 Logo" src="https://co3.eu/files/img/logo_co3.png" style="display:block; width:120px" /></td>
                            <td style="text-align: right" valign="middle"><a href="mailto:carrier@co3.eu" style="display: block; text-decoration: none; color: #086DA0; font-weight: 500;">carrier@co3.eu</a></td>
                        </tr>
                    </tbody>
                </table>
                </td>
            </tr>
            <tr>
                <td height="8" width="600">&nbsp;</td>
            </tr>
            <tr>
                <td width="600"><img alt="Line" src="https://co3.eu/files/img/linia.png" style="width:600px; display:block;" /></td>
            </tr>
            <tr>
                <td height="24" width="600">&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;" width="600">
                <p>Buongiorno,</p>
    
                <p>Ti contattiamo a nome di <strong>{{{Case.Customer_Name__c}}}</strong> per aiutarti a condividere il monitoraggio del trasporto tramite la piattaforma CO3. Ciò consentirà a te e ai tuoi autisti di risparmiare tempo nella condivisione dei dati GPS e aumenterà le opportunità di business durante la negoziazione di nuovi incarichi.
                </p>
                </td>
            </tr>
            <tr>
                <td height="8" width="600">&nbsp;</td>
            </tr>
            <tr>
                <td width="600">
                <table cellpadding="8" cellspacing="0" style="color: #086DA0; font-size:14px; line-height: 24px; margin:0; width:600px; text-align: left;" width="600">
                    <tbody>
                        <tr>
                            <td valign="middle" width="200"><img alt="" src="https://co3.eu/files/img/co3_ilustracja_introduction.png" style="display:block; width:180px" /></td>
                            <td valign="middle" width="400">
                            <p><strong>Come funziona la condivisione dei dati con CO3? </strong></p>
    
                            <ul>
                                <li>CO3 si integra direttamente con il tuo provider GPS.</li>
                                <li>Registrandoti sulla piattaforma puoi facilmente controllare la condivisione dei dati con i tuoi clienti.
                                </li>
                                <li>Ti assicuriamo assistenza dedicata sia in fase di integrazione con la piattaforma sia durante il suo utilizzo.
                                </li>
                            </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </td>
            </tr>
            <tr>
                <td height="8" width="600">&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;" width="600">
                <p><strong>Quali sono i passi successivi?</strong></p>
    
                <p>Se siete disposti a collaborare, <strong>create un account sulla piattaforma CO3 utilizzando il seguente link:</strong> <a href="#" style="text-decoration: none; font-weight: bold; color: #086DA0;">[LINK]</a></p>
    
                <p>Con il tuo consenso avvieremo il servizio di monitoraggio per  <strong>{{{Case.Customer_Name__c}}}</strong>.  Questi dati verranno condivisi in modo permanente.</p>
    
                <p>Tramite l’account CO3 hai la possibilità di effettuare in qualsiasi momento modifiche riguardanti la condivisione dei dati.
                </p>
                </td>
            </tr>
            <tr>
                <td height="8" width="600">&nbsp;</td>
            </tr>
            <tr>
                <td width="600">
                <table cellpadding="8" cellspacing="0" style="color: #086DA0; font-size:14px; line-height: 24px; margin:0; width:600px; text-align: left;" width="600">
                    <tbody>
                        <tr>
                            <td style="text-align: center" valign="middle" width="200"><img alt="" src="https://co3.eu/files/img/co3_ikona_introduction.png" style="display:block; width:120px; margin:0 auto;" /></td>
                            <td valign="middle" width="400">
                            <p><strong>Quanto mi costa?</strong></p>
    
                            <p>I vettori ottengono l'accesso gratuito alla piattaforma e ai nostri servizi di monitoraggio della propria flotta e condivisione dei dati.
                            </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </td>
            </tr>
            <tr>
                <td height="8" width="600">&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;" width="600">
                <p>In caso di domande si prega di:
                </p>
    
                <ul>
                    <li>leggere le domande più frequenti: <a href="https://drive.google.com/file/d/1GcZYkCZJEanVLTAUlVoB27IbM70c6OUZ/view?usp=sharing" style="text-decoration: none; font-weight: bold; color: #086DA0;">FAQ</a></li>
                    <li>contattarci: <a href="mailto:carrier@co3.eu" style="text-decoration: none; font-weight: bold; color: #086DA0;">carrier@co3.eu</a></li>
                </ul>
    
                <p style="text-align:right; font-weight:bold;">Distinti saluti,<br />
                Il team CO3</p>
                </td>
            </tr>
            <tr>
                <td height="64" width="600">&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: left;color: #086DA0; font-size:12px; line-height: 18px;" width="600">
                <p style="text-align:right; font-weight:bold;"><strong style="font-size:14px">CO3 Sp. z o.o.</strong><br />
                ul. Irysowa 1, Bielany Wrocławskie<br />
                55-040 Kobierzyce</p>
                </td>
            </tr>
            <tr>
                <td height="16" width="600">&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: left;color: #678BAF; font-size:10px; line-height: 15px;" width="600">
                <p>L’Amministratore dei tuoi dati è CO3 società a responsabilità limitata con sede a Bielany Wrocławskie (55-040), ul. Irysowa 1, P. IVA: 8961583248. Hai il diritto di accedere ai tuoi dati e il diritto di rettificare, eliminare e limitare il loro trattamento, il diritto di trasferire i dati, opporti ed esporre un reclamo all'autorità di controllo. È possibile contattare l'Amministratore all’indirizzo e-mail:  <a href="mailto:dpo@co3.eu" style="text-decoration: none; font-weight: bold; color: #086DA0;">dpo@co3.eu</a>. Informazioni dettagliate sul trattamento dei dati personali sono disponibili nella Politica sulla Riservatezza: <a href="https://www.co3.eu/ppit" style="text-decoration: none; font-weight: bold; color: #086DA0;">www.co3.eu/ppit</a>.</p>
    
                <p>Le informazioni contenute nella presente corrispondenza costituiscono un segreto aziendale ai sensi dell'articolo 11, paragrafo 4, della legge del 16 aprile 1993 sulla lotta alla concorrenza sleale (Gazzetta ufficiale del 2003, n. 153, voce 1503, e successive modifiche). La corrispondenza deve essere indirizzata esclusivamente alla persona e alla società indicata come destinataria. La diffusione, la copia, la divulgazione o l'inoltro a terzi, in qualsiasi forma, delle informazioni contenute nel presente documento, in tutto o in parte, costituisce un atto di concorrenza sleale.
                </p>
                </td>
            </tr>
            <tr>
                <td height="8" width="600">&nbsp;</td>
            </tr>
            <tr>
                <td width="600"><img alt="Line" src="https://co3.eu/files/img/linia.png" style="width:600px; display:block;" /></td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>