<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="https://www.co3.eu/wp-content/themes/c03/img/fav.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO3: Reminder</title>
</head>
<body style="padding:0; margin:12px auto; text-align: center;">
    <table cellspacing="0" cellpadding="0" width="600" style="margin:0 auto; width:600px; font-family: Arial, Helvetica, sans-serif; font-size:14px">
        <tbody>
            <tr>
                <td width="600">
                    <table cellspacing="0" cellpadding="0" width="600" style="margin:0; width:600px">
                        <tbody>
                            <tr>
                                <td>
                                    <img style="display:block; width:120px" src="https://co3.eu/files/img/logo_co3.png" alt="CO3 Logo">
                                </td>
                                <td  valign="middle" style="text-align: right">
                                    <a href="mailto:carrier@co3.eu" style="display: block; text-decoration: none; color: #086DA0; font-weight: 500;">carrier@co3.eu</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>   
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <img style="width:600px; display:block;" src="https://co3.eu/files/img/linia.png" alt="Line">
                </td>
            </tr>
            <tr>
                <td width="600" height="24"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;">
                    <p>Buongiorno,</p>
                    <p>Ti ricordiamo il processo avviato di integrazione gratuita della tua flotta al fine di poter condividere il monitoraggio del trasporto per <strong>{{{Case.Customer_Name__c}}}</strong>. 
                    </p>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <table cellpadding="8" cellspacing="0" width="600" style="color: #086DA0; font-size:14px; line-height: 24px; margin:0; width:600px; text-align: left;">
                        <tbody>
                            <tr>
                                <td width="200" valign="middle" style="text-align:center">
                                    <img style="display:block; width:120px; margin:0 auto" src="https://co3.eu/files/img/co3_ikona_reminder_1.png" alt="">
                                </td>
                                <td width="400" valign="middle">
                                    <p>Ciò ti consentirà di sostituire le telefonate di controllo al fine di verificare la posizione corrente con la condivisione di un’anteprima digitale per la durata dell’incarico o in modo permanente, a seconda del tipo di collaborazione che hai con il cliente.
</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <table cellpadding="8" cellspacing="0" width="600" style="color: #086DA0; font-size:14px; line-height: 24px; margin:0; width:600px; text-align: left;">
                        <tbody>
                            <tr>
                                <td width="200" valign="middle" style="text-align:center">
                                    <img style="display:block; width:120px; margin:0 auto" src="https://co3.eu/files/img/co3_ikona_reminder_2.png" alt="">
                                </td>
                                <td width="400" valign="middle">
                                    <p>A causa dell'aumento del numero di aziende che richiedono ai propri appaltatori di condividere il monitoraggio, l'integrazione con CO3 può avere un impatto positivo anche sull'acquisizione di nuovi incarichi.
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
           
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;">
                    <p><strong>Per completare l'integrazione, creare un account sulla piattaforma CO3 utilizzando il link</strong>: <a href="#" style="text-decoration: none; font-weight: bold; color: #086DA0;">[LINK] </a>
                    </p>
                    <p>Con il consenso dell'utente, verrà istituito un servizio di monitoraggio per  <strong>{{{Case.Customer_Name__c}}}</strong>. Questi dati saranno resi disponibili per la durata dell'ordine o in modo permanente, a seconda della natura della vostra collaborazione.  
                    </p>
                    <p>Attraverso il vostro account CO3 avete la possibilità di apportare modifiche alla condivisione dei dati in qualsiasi momento.</p>
                  <p>In caso di domande si prega di:
</p>
<ul>
    <li>leggere le domande più frequenti: <a href="https://drive.google.com/file/d/1GcZYkCZJEanVLTAUlVoB27IbM70c6OUZ/view?usp=sharing" style="text-decoration: none; font-weight: bold; color: #086DA0;">FAQ</a></li>
    <li>contattarci: <a href="mailto:carrier@co3.eu" style="text-decoration: none; font-weight: bold; color: #086DA0;">carrier@co3.eu</a></li>
</ul>
                    <p style="text-align:right; font-weight:bold;">Distinti saluti,<br>Il team CO3</p>
                </td>
            </tr>
            <tr>
                <td width="600" height="64"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:12px; line-height: 18px;">
                    <p style="text-align:right; font-weight:bold;"><strong style="font-size:14px">CO3 Sp. z o.o.</strong><br>
                        ul. Irysowa 1, Bielany Wrocławskie<br>
                        55-040 Kobierzyce
                        </p>
                </td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #678BAF; font-size:10px; line-height: 15px;">
                    <p>L’Amministratore dei tuoi dati è CO3 società a responsabilità limitata con sede a Bielany Wrocławskie (55-040), ul. Irysowa 1, P. IVA: 8961583248. Hai il diritto di accedere ai tuoi dati e il diritto di rettificare, eliminare e limitare il loro trattamento, il diritto di trasferire i dati, opporti ed esporre un reclamo all'autorità di controllo. È possibile contattare l'Amministratore all’indirizzo e-mail: <a href="mailto:dpo@co3.eu" style="text-decoration: none; font-weight: bold; color: #086DA0;">dpo@co3.eu</a>. Informazioni dettagliate sul trattamento dei dati personali sono disponibili nella Politica sulla Riservatezza: <a href="https://www.co3.eu/ppit" style="text-decoration: none; font-weight: bold; color: #086DA0;">www.co3.eu/ppit</a>.
</p>
<p>Le informazioni contenute nella presente corrispondenza costituiscono un segreto aziendale ai sensi dell'articolo 11, paragrafo 4, della legge del 16 aprile 1993 sulla lotta alla concorrenza sleale (Gazzetta ufficiale del 2003, n. 153, voce 1503, e successive modifiche). La corrispondenza deve essere indirizzata esclusivamente alla persona e alla società indicata come destinataria. La diffusione, la copia, la divulgazione o l'inoltro a terzi, in qualsiasi forma, delle informazioni contenute nel presente documento, in tutto o in parte, costituisce un atto di concorrenza sleale.
</p>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <img style="width:600px; display:block;" src="https://co3.eu/files/img/linia.png" alt="Line">
                </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>