<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="https://www.co3.eu/wp-content/themes/c03/img/fav.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO3: Introduction email permanent with link</title>
</head>
<body style="padding:0; margin:12px auto; text-align: center;">
    <table cellspacing="0" cellpadding="0" width="600" style="margin:0 auto; width:600px; font-family: Arial, Helvetica, sans-serif; font-size:14px">
        <tbody>
            <tr>
                <td width="600">
                    <table cellspacing="0" cellpadding="0" width="600" style="margin:0; width:600px">
                        <tbody>
                            <tr>
                                <td>
                                    <img style="display:block; width:120px" src="https://co3.eu/files/img/logo_co3.png" alt="CO3 Logo">
                                </td>
                                <td  valign="middle" style="text-align: right">
                                    <a href="mailto:carrier@co3.eu" style="display: block; text-decoration: none; color: #086DA0; font-weight: 500;">carrier@co3.eu</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>   
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <img style="width:600px; display:block;" src="https://co3.eu/files/img/linia.png" alt="Line">
                </td>
            </tr>
            <tr>
                <td width="600" height="24"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;">
                    <p>Bonjour,</p>
                    <p>Nous vous contactons au nom de <strong>{{{Case.Customer_Name__c}}}</strong> pour vous aider à mettre à leur disposition le suivi des transports via la plateforme CO3. Cela vous permettra, ainsi qu'à votre chauffeur, de gagner du temps pour les rapports de localisation et augmenter les nouvelles opportunités commerciales lors de la négociation de nouvelles commandes.
                    </p>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <table cellpadding="8" cellspacing="0" width="600" style="color: #086DA0; font-size:14px; line-height: 24px; margin:0; width:600px; text-align: left;">
                        <tbody>
                            <tr>
                                <td width="200" valign="middle">
                                    <img style="display:block; width:180px" src="https://co3.eu/files/img/co3_ilustracja_introduction.png" alt="">
                                </td>
                                <td width="400" valign="middle">
                                    <p><strong>Comment le partage des données fonctionne-t-il avec CO3?
                                    </strong></p>
                                    <ul>
                                        <li>CO3 s'intègre directement à votre fournisseur de GPS.</li>
                                        <li>En vous inscrivant sur la plateforme, vous pouvez facilement contrôler le partage des données avec vos clients.</li>
                                        <li>Nous vous fournirons une assistance dédiée tant lors de l'intégration à la plateforme que lors de son utilisation.
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;">
                    <p><strong>Quelles sont les prochaines étapes ?</strong></p>
                    <p>Si vous êtes prêt à collaborer,  <strong>veuillez créer un compte sur la plateforme CO3 en utilisant le lien</strong>: <a href="#" style="text-decoration: none; font-weight: bold; color: #086DA0;">[LINK]</a></p>
                    <p>Avec votre consentement, nous allons mettre en place un service de surveillance pour  <strong>{{{Case.Customer_Name__c}}}</strong>.  Ces données seront mises à disposition de manière continue.</p>
                    <p>Grâce à votre compte CO3, vous avez la possibilité d'apporter des modifications au partage des données à tout moment.
                    </p>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <table cellpadding="8" cellspacing="0" width="600" style="color: #086DA0; font-size:14px; line-height: 24px; margin:0; width:600px; text-align: left;">
                        <tbody>
                            <tr>
                                <td width="200" valign="middle" style="text-align: center">
                                    <img style="display:block; width:120px; margin:0 auto;" src="https://co3.eu/files/img/co3_ikona_introduction.png" alt="">
                                </td>
                                <td width="400" valign="middle">
                                    <p><strong>Est-ce que ça me coûte quelque chose?
                                    </strong></p>
                                    <p>Les transporteurs ont un accès gratuit à la plateforme et à nos services pour surveiller leur propre flotte et partager ses données.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;">
 <p>Si vous avez des questions, n'hésitez pas à:
</p>
<ul>
    <li>lire les questions fréquemment posées: <a href="https://drive.google.com/file/d/1GcZYkCZJEanVLTAUlVoB27IbM70c6OUZ/view?usp=sharing" style="text-decoration: none; font-weight: bold; color: #086DA0;">FAQ</a></li>
    <li>contacter: <a href="mailto:carrier@co3.eu" style="text-decoration: none; font-weight: bold; color: #086DA0;">carrier@co3.eu</a></li>
</ul>
                    <p style="text-align:right; font-weight:bold;">Cordialement,<br>L'équipe CO3</p>
                </td>
            </tr>
            <tr>
                <td width="600" height="64"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:12px; line-height: 18px;">
                    <p style="text-align:right; font-weight:bold;"><strong style="font-size:14px">CO3 Sp. z o.o.</strong><br>
                        ul. Irysowa 1, Bielany Wrocławskie<br>
                        55-040 Kobierzyce
                        </p>
                </td>
            </tr>
            <tr>
                <td width="600" height="16"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #678BAF; font-size:10px; line-height: 15px;">
                    <p>Le responsable de vos données personnelles est CO3 Spółka z ograniczoną odpowiedzialnością (Société à responsabilité limitée) dont le siège social est sis à Bielany Wrocławskie (55-040), ul. Irysowa, numéro d’identification fiscale (NIP) : 8961583248. Vous avez le droit d'accéder à vos données et le droit de les corriger, de les supprimer, de limiter le traitement, le droit à la portabilité des données, de vous opposer et de déposer une plainte auprès de l'autorité de surveillance. Le contact avec le responsable est possible à l'adresse électronique : <a href="mailto:dpo@co3.eu" style="text-decoration: none; font-weight: bold; color: #086DA0;">dpo@co3.eu</a>. Des informations détaillées sur le traitement des données personnelles peuvent être trouvées dans la politique de confidentialité : <a href="https://www.co3.eu/ppfr" style="text-decoration: none; font-weight: bold; color: #086DA0;">www.co3.eu/ppfr</a>.
</p>
<p>Les informations contenues dans cette correspondance constituent un secret d'entreprise au sens de l'article 11, paragraphe 4, de la loi du 16 avril 1993 relative à la lutte contre la concurrence déloyale (Journal officiel de 2003, n° 153, point 1503, tel que modifié). La correspondance est adressée exclusivement à la personne et à la société désignées comme destinataires. La diffusion, la copie, la divulgation ou la transmission à des tiers, sous quelque forme que ce soit, des informations contenues dans le présent document, en tout ou en partie, constitue un acte de concurrence déloyale.
</p>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <img style="width:600px; display:block;" src="https://co3.eu/files/img/linia.png" alt="Line">
                </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>