<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="https://www.co3.eu/wp-content/themes/c03/img/fav.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO3: If we are not integrated</title>
</head>
<body style="padding:0; margin:12px auto; text-align: center;">
    <table cellspacing="0" cellpadding="0" width="600" style="margin:0 auto; width:600px; font-family: Arial, Helvetica, sans-serif; font-size:14px">
        <tbody>
            <tr>
                <td width="600">
                    <table cellspacing="0" cellpadding="0" width="600" style="margin:0; width:600px">
                        <tbody>
                            <tr>
                                <td>
                                    <img style="display:block; width:120px" src="https://co3.eu/files/img/logo_co3.png" alt="CO3 Logo">
                                </td>
                                <td valign="middle" style="text-align: right">
                                    <a href="mailto:carrier@co3.eu" style="display: block; text-decoration: none; color: #086DA0; font-weight: 500;">carrier@co3.eu</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <img style="width:600px; display:block;" src="https://co3.eu/files/img/linia.png" alt="Line">
                </td>
            </tr>
            <tr>
                <td width="600" height="24"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;">
                    <p>Bonjour,</p>
                    <p>Nous vous contactons au nom de <strong>{{Case.Customer_Name__c}}</strong> pour vous aider à mettre à sa disposition le suivi des transports, via la plateforme CO3. 
                    </p>
                    <p><strong>Merci de vous inscrire sur la plateforme CO3.</strong><br>Nous sommes très heureux de commencer à travailler avec vous. 
                    </p>
                    <p><strong>Veuillez transmettre les coordonnées de votre personne de contact [fornitore XY].</strong> Pour le moment, nous ne sommes pas encore connectés à leur service, et nous aimerions activer le suivi dès que possible.
                    </p>
<p>Si vous avez des questions, n'hésitez pas à:
</p>
<ul>
    <li>lire les questions fréquemment posées: <a href="https://drive.google.com/file/d/1GcZYkCZJEanVLTAUlVoB27IbM70c6OUZ/view?usp=sharing" style="text-decoration: none; font-weight: bold; color: #086DA0;">FAQ</a></li>
    <li>contacter: <a href="mailto:carrier@co3.eu" style="text-decoration: none; font-weight: bold; color: #086DA0;">carrier@co3.eu</a></li>
</ul>
                    <p style="text-align:right; font-weight:bold;">Cordialement,<br>L'équipe CO3</p>
                </td>
            </tr>
            <tr>
                <td width="600" height="64"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:12px; line-height: 18px;">
                    <p style="text-align:right; font-weight:bold;"><strong style="font-size:14px">CO3 Sp. z o.o.</strong><br>
                        ul. Irysowa 1, Bielany Wrocławskie<br>
                        55-040 Kobierzyce
                        </p>
                </td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #678BAF; font-size:10px; line-height: 15px;">
                    <p>Le responsable de vos données personnelles est CO3 Spółka z ograniczoną odpowiedzialnością (Société à responsabilité limitée) dont le siège social est sis à Bielany Wrocławskie (55-040), ul. Irysowa, numéro d’identification fiscale (NIP) : 8961583248. Vous avez le droit d'accéder à vos données et le droit de les corriger, de les supprimer, de limiter le traitement, le droit à la portabilité des données, de vous opposer et de déposer une plainte auprès de l'autorité de surveillance. Le contact avec le responsable est possible à l'adresse électronique : <a href="mailto:dpo@co3.eu" style="text-decoration: none; font-weight: bold; color: #086DA0;">dpo@co3.eu</a>. Des informations détaillées sur le traitement des données personnelles peuvent être trouvées dans la politique de confidentialité : <a href="https://www.co3.eu/ppfr" style="text-decoration: none; font-weight: bold; color: #086DA0;">www.co3.eu/ppfr</a>.
</p>
<p>Les informations contenues dans cette correspondance constituent un secret d'entreprise au sens de l'article 11, paragraphe 4, de la loi du 16 avril 1993 relative à la lutte contre la concurrence déloyale (Journal officiel de 2003, n° 153, point 1503, tel que modifié). La correspondance est adressée exclusivement à la personne et à la société désignées comme destinataires. La diffusion, la copie, la divulgation ou la transmission à des tiers, sous quelque forme que ce soit, des informations contenues dans le présent document, en tout ou en partie, constitue un acte de concurrence déloyale.
</p>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <img style="width:600px; display:block;" src="https://co3.eu/files/img/linia.png" alt="Line">
                </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>