<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="https://www.co3.eu/wp-content/themes/c03/img/fav.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO3: Introduction email time&hour with link</title>
</head>
<body style="padding:0; margin:12px auto; text-align: center;">
    <table cellspacing="0" cellpadding="0" width="600" style="margin:0 auto; width:600px; font-family: Arial, Helvetica, sans-serif; font-size:14px">
        <tbody>
            <tr>
                <td width="600">
                    <table cellspacing="0" cellpadding="0" width="600" style="margin:0; width:600px">
                        <tbody>
                            <tr>
                                <td>
                                    <img style="display:block; width:120px" src="https://co3.eu/files/img/logo_co3.png" alt="CO3 Logo">
                                </td>
                                <td  valign="middle" style="text-align: right">
                                    <a href="mailto:carrier@co3.eu" style="display: block; text-decoration: none; color: #086DA0; font-weight: 500;">carrier@co3.eu</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>   
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <img style="width:600px; display:block;" src="https://co3.eu/files/img/linia.png" alt="Line">
                </td>
            </tr>
            <tr>
                <td width="600" height="24"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;">
                    <p>Dzień dobry,</p>
                    <p>Kontaktujemy się z Państwem w imieniu <strong>{{{Case.Customer_Name__c}}}, aby pomóc Państwu w udostępnieniu dla niego monitoringu transportu, za pośrednictwem platformy CO3</strong>. <strong>Zaoszczędzi</strong> to zarówno Państwu jak i Państwa kierowcy <strong>czas</strong> na raportowanie lokalizacji <strong>oraz zwiększy nowe możliwości biznesowe</strong> przy negocjacjach nowych zleceń.
                        </p>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <table cellpadding="8" cellspacing="0" width="600" style="color: #086DA0; font-size:14px; line-height: 24px; margin:0; width:600px; text-align: left;">
                        <tbody>
                            <tr>
                                <td width="200" valign="middle">
                                    <img style="display:block; width:180px" src="https://co3.eu/files/img/co3_ilustracja_introduction.png" alt="">
                                </td>
                                <td width="400" valign="middle">
                                    <p><strong>Jak działa współdzielenie danych z CO3?</strong></p>
                                    <ul>
                                        <li>CO3 integruje się <strong>bezpośrednio z Państwa dostawcą GPS</strong>.
                                        </li>
                                        <li>Rejestrując się na platformie możecie Państwo <strong>łatwo kontrolować udostępnianie danych</strong> swoim klientom.
                                        </li>
                                        <li>Zapewnimy Państwu <strong>dedykowane wsparcie</strong> zarówno w czasie integracji z platformą, jak i podczas korzystania z niej. 
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;">
                    <p><strong>Jakie są następne kroki? </strong></p>
                    <p>Jeżeli wyrażają Państwo chęć współpracy, <strong>prosimy o utworzenie konta na platformie CO3 za pomocą linku</strong>: <a href="#" style="text-decoration: none; font-weight: bold; color: #086DA0;">[LINK]</a></p>
                    <p>Za Państwa zgodą uruchomimy usługę monitorowania dla <strong>{{{Case.Customer_Name__c}}}</strong>. Dane te będą udostępniane w ramach ustaleń dotyczących zlecenia transportowego.  </p>
                        <p>Poprzez konto CO3 macie Państwo możliwość dokonania w dowolnym czasie zmian dotyczących udostępniania danych.
                        </p>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <table cellpadding="8" cellspacing="0" width="600" style="color: #086DA0; font-size:14px; line-height: 24px; margin:0; width:600px; text-align: left;">
                        <tbody>
                            <tr>
                                <td width="200" valign="middle" style="text-align: center">
                                    <img style="display:block; width:120px; margin:0 auto;" src="https://co3.eu/files/img/co3_ikona_introduction.png" alt="">
                                </td>
                                <td width="400" valign="middle">
                                    <p><strong>Czy usługa jest płatna?</strong></p>
                                    <p>Przewoźnicy uzyskują <strong>bezpłatny dostęp do platformy i naszych usług monitorowania własnej floty</strong> oraz udostępniania jej danych. 
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;">
                    <p>W razie pytań zapraszamy:
                    </p>
                    <ul>
                        <li>do zapoznania się z najczęściej zadawanymi pytaniami: <a href="https://drive.google.com/file/d/1Tw4jfntk8uEGu9skWjv3d3k3HnqNepPO/view?usp=sharing" style="text-decoration: none; font-weight: bold; color: #086DA0;">FAQ</a></li>
                        <li>do kontaktu: <a href="mailto:carrier@co3.eu" style="text-decoration: none; font-weight: bold; color: #086DA0;">carrier@co3.eu</a></li>
                    </ul>
                    <p style="text-align:right; font-weight:bold;">Pozdrawiamy,<br>Zespół CO3</p>
                </td>
            </tr>
            <tr>
                <td width="600" height="64"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:12px; line-height: 18px;">
                    <p style="text-align:right; font-weight:bold;"><strong style="font-size:14px">CO3 Sp. z o.o.</strong><br>
                        ul. Irysowa 1, Bielany Wrocławskie<br>
                        55-040 Kobierzyce
                        </p>
                </td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #678BAF; font-size:10px; line-height: 15px;">
                    <p>Administratorem Państwa danych osobowych jest CO3 spółka z ograniczoną odpowiedzialnością z siedzibą w Bielanach Wrocławskich (55-040), ul. Irysowa 1, NIP: 8961583248. Mają Państwo prawo do dostępu do treści swoich danych oraz prawo ich sprostowania, usunięcia, ograniczenia przetwarzania, prawo do przenoszenia danych, sprzeciwu oraz wniesienia skargi do organu nadzoru. Kontakt z Administratorem możliwy jest pod adresem e-mail: <a href="mailto:dpo@co3.eu" style="text-decoration: none; font-weight: bold; color: #086DA0;">dpo@co3.eu</a>. Szczegółowe informacje dotyczące przetwarzania danych osobowych znajdują się w Polityce Prywatności: <a href="https://www.co3.eu/pppl" style="text-decoration: none; font-weight: bold; color: #086DA0;">www.co3.eu/pppl</a>.
                    </p>
                    <p>Informacje zawarte w niniejszej korespondencji stanowią tajemnicę przedsiębiorstwa w rozumieniu art. 11 ust. 4 Ustawy z dnia 16 kwietnia 1993 r. o zwalczaniu nieuczciwej konkurencji (Dz. U. z 2003 r. Nr 153, poz. 1503 ze zm.). Korespondencja skierowana jest wyłącznie do osoby i firmy wymienionej jako adresat. Rozpowszechnianie, kopiowanie, ujawnianie lub przekazywanie osobom trzecim w jakiejkolwiek formie informacji zawartych w niniejszym dokumencie w całości lub w części jest czynem nieuczciwej konkurencji.
                    </p>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <img style="width:600px; display:block;" src="https://co3.eu/files/img/linia.png" alt="Line">
                </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>