<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="https://www.co3.eu/wp-content/themes/c03/img/fav.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO3: Reminder</title>
</head>
<body style="padding:0; margin:12px auto; text-align: center;">
    <table cellspacing="0" cellpadding="0" width="600" style="margin:0 auto; width:600px; font-family: Arial, Helvetica, sans-serif; font-size:14px">
        <tbody>
            <tr>
                <td width="600">
                    <table cellspacing="0" cellpadding="0" width="600" style="margin:0; width:600px">
                        <tbody>
                            <tr>
                                <td>
                                    <img style="display:block; width:120px" src="https://co3.eu/files/img/logo_co3.png" alt="CO3 Logo">
                                </td>
                                <td  valign="middle" style="text-align: right">
                                    <a href="mailto:carrier@co3.eu" style="display: block; text-decoration: none; color: #086DA0; font-weight: 500;">carrier@co3.eu</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>   
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <img style="width:600px; display:block;" src="https://co3.eu/files/img/linia.png" alt="Line">
                </td>
            </tr>
            <tr>
                <td width="600" height="24"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;">
                    <p>Dzień dobry,</p>
                    <p>Przypominamy o rozpoczętym procesie bezpłatnej integracji Państwa floty w celu umożliwienia udostępnienia monitoringu transportu dla <strong>{{{Case.Customer_Name__c}}}</strong>. 
                    </p>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <table cellpadding="8" cellspacing="0" width="600" style="color: #086DA0; font-size:14px; line-height: 24px; margin:0; width:600px; text-align: left;">
                        <tbody>
                            <tr>
                                <td width="200" valign="middle" style="text-align:center">
                                    <img style="display:block; width:120px; margin:0 auto" src="https://co3.eu/files/img/co3_ikona_reminder_1.png" alt="">
                                </td>
                                <td width="400" valign="middle">
                                    <p>Pozwoli to Państwu <strong>zastąpić  kontrolne telefony w celu weryfikacji bieżącej lokalizacji udostępnieniem cyfrowego podglądu</strong> na czas trwania zlecenia lub na stałe w zależności od charakteru Państwa współpracy z klientem.

                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <table cellpadding="8" cellspacing="0" width="600" style="color: #086DA0; font-size:14px; line-height: 24px; margin:0; width:600px; text-align: left;">
                        <tbody>
                            <tr>
                                <td width="200" valign="middle" style="text-align:center">
                                    <img style="display:block; width:120px; margin:0 auto" src="https://co3.eu/files/img/co3_ikona_reminder_2.png" alt="">
                                </td>
                                <td width="400" valign="middle">
                                    <p>Ze względu na wzrost liczby firm wymagających od swoich wykonawców udostępnienia monitoringu, integracja z CO3 może też mieć <strong>pozytywny wpływ na pozyskanie nowych zleceń</strong>.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:14px; line-height: 24px;">
                    <p><strong>Aby ukończyć integrację prosimy o utworzenie konta na platformie CO3 za pomocą linku</strong>: <a href="#" style="text-decoration: none; font-weight: bold; color: #086DA0;">[LINK] </a>
                    </p>
                    <p>Za Państwa zgodą uruchomimy usługę monitorowania dla <strong>{{{Case.Customer_Name__c}}}</strong>. Dane te będą udostępniane na czas trwania zlecenia lub na stałe w zależności od charakteru Państwa współpracy. 
                    </p>
                    <p>Poprzez konto CO3 macie Państwo możliwość dokonania w dowolnym czasie zmian dotyczących udostępniania danych.</p>
                    <p>W razie pytań zapraszamy:
                    </p>
                    <ul>
                        <li>do zapoznania się z najczęściej zadawanymi pytaniami: <a href="https://drive.google.com/file/d/1Tw4jfntk8uEGu9skWjv3d3k3HnqNepPO/view?usp=sharing" style="text-decoration: none; font-weight: bold; color: #086DA0;">FAQ</a></li>
                        <li>do kontaktu: <a href="mailto:carrier@co3.eu" style="text-decoration: none; font-weight: bold; color: #086DA0;">carrier@co3.eu</a></li>
                    </ul>
                    <p style="text-align:right; font-weight:bold;">Pozdrawiamy,<br>Zespół CO3</p>
                </td>
            </tr>
            <tr>
                <td width="600" height="64"></td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #086DA0; font-size:12px; line-height: 18px;">
                    <p style="text-align:right; font-weight:bold;"><strong style="font-size:14px">CO3 Sp. z o.o.</strong><br>
                        ul. Irysowa 1, Bielany Wrocławskie<br>
                        55-040 Kobierzyce
                        </p>
                </td>
            </tr>
            <tr>
                <td width="600" style="text-align: left;color: #678BAF; font-size:10px; line-height: 15px;">
                    <p>Administratorem Państwa danych osobowych jest CO3 spółka z ograniczoną odpowiedzialnością z siedzibą w Bielanach Wrocławskich (55-040), ul. Irysowa 1, NIP: 8961583248. Mają Państwo prawo do dostępu do treści swoich danych oraz prawo ich sprostowania, usunięcia, ograniczenia przetwarzania, prawo do przenoszenia danych, sprzeciwu oraz wniesienia skargi do organu nadzoru. Kontakt z Administratorem możliwy jest pod adresem e-mail: <a href="mailto:dpo@co3.eu" style="text-decoration: none; font-weight: bold; color: #086DA0;">dpo@co3.eu</a>. Szczegółowe informacje dotyczące przetwarzania danych osobowych znajdują się w Polityce Prywatności: <a href="https://www.co3.eu/pppl" style="text-decoration: none; font-weight: bold; color: #086DA0;">www.co3.eu/pppl</a>.
                    </p>
                    <p>Informacje zawarte w niniejszej korespondencji stanowią tajemnicę przedsiębiorstwa w rozumieniu art. 11 ust. 4 Ustawy z dnia 16 kwietnia 1993 r. o zwalczaniu nieuczciwej konkurencji (Dz. U. z 2003 r. Nr 153, poz. 1503 ze zm.). Korespondencja skierowana jest wyłącznie do osoby i firmy wymienionej jako adresat. Rozpowszechnianie, kopiowanie, ujawnianie lub przekazywanie osobom trzecim w jakiejkolwiek formie informacji zawartych w niniejszym dokumencie w całości lub w części jest czynem nieuczciwej konkurencji.
                    </p>
                </td>
            </tr>
            <tr>
                <td width="600" height="8"></td>
            </tr>
            <tr>
                <td width="600">
                    <img style="width:600px; display:block;" src="https://co3.eu/files/img/linia.png" alt="Line">
                </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>